@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-public-sans), sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

button, a {
  font-family: var(--font-public-sans), sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0%;
}
